
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Font-Awesome
@import '~font-awesome/scss/font-awesome';

textarea{
  resize: none;
}

.chat-chat-overlay textarea{
  margin: 1vh;
  height: 8vh;
}

.hide-scrolling{
  //height: 60vh;
  overflow: hidden;
}

.group-news, .quizes{
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 100%;
  padding-right: 1000vh;
  overflow-y: auto;
  height: 70vh;
}

.chat-chat-scroll{
  overflow-y: auto;
  height: 60vh;
  overflow-x: hidden;
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

html, body{
  height: 100%;
}

.header{
  padding: 30px;
  height: 20vh;
}

.test, .notification{
  //padding: 10px;
  background-color: #e3f2fd;
  //border-bottom: 10px solid #f5f8fa;
}

.test.important, .notification.important{
  //padding: 10px;
  background-color: #ff8800;
  //border-bottom: 10px solid #f5f8fa;
}

.test:last-child{
  border: none;
}

.main-news img{
  margin-right: 10px;
  max-width: 50%;
}

.main-news p, .notification p{
  //margin: 10px 0;
  text-align: justify;
}

.logo{
  max-height: 150px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.footer{
  //position: absolute;
  //bottom: 0;
  //left: 0;
  //right: 0;
  min-height: 8vh;
  margin-top: 2vh;
  background-color: #c9c9c9;
}

.docs-item{
  text-align: center;
}

.docs-item:not(.docs-image):before{
  content: '';
  background-size: cover;
  display: block;
  margin-right: 5px;
  float: left;
}

.docs-folder:before{
  min-width: 35px;
  min-height: 35px;
  background-image: url('/img/folder.png');
}

.docs-file:not(.docs-image):before{
  min-width: 150px;
  min-height: 150px;
}

.docs-xls:before, .docs-xlsx:before{
  background-image: url('/img/docs-xlsx.png');
}

.docs-doc:before, .docs-docx:before{
  background-image: url('/img/docs-docx.png');
}

.docs-item:hover, .interlocator:not(.text-light):hover{
  cursor: pointer;
  background-color: #fff;
}

.docs-image img{
  width: 100%;
}

.docs-image a{
  display: block;
}

.docs-image-inner{
  min-height: 150px;
}

.vertical-aligner{
  height: 100%;
  vertical-align: middle;
  display: inline-block;
}

.interlocator img{
  max-height: 50px;
}

.interlocators{
  overflow-y: scroll;
  height: 70vh;
}

.chat-chat{
  //overflow-y: scroll;
  min-height: 60vh;
  padding: 2vh 0;
}

.chat-message-counter{
  width: 25px;
  height: 25px;
}

.chat-message{
  max-width: 50vh;
  margin: 10px;
  padding: 10px;
  text-align: justify;
}

.chat-message-inner{
  position: relative;
  left: 50px;
}

.chat-message-outer{
  float: right;
}

img.chat-message-foto {
  max-height: 50px;
  position: absolute;
  left: -50px;
}

.nav-item{
  cursor: pointer;
}